body{
    background-color: #ddd;
}
.header{
    background-color: #aaa;
    text-align: center;
    padding: 30px;
    width: 90%;
    border-radius: 20px;
    margin: 0 auto;
}
.header img{
    display: block;
    width:15%;
    border-radius: 50%;
    border: 4px solid #fff;
    margin:0 auto;
}
.info{
    text-align: center;
    font-weight: bold;
}

.col-sm-6,.col-sm-12{
    text-align: center;
}
.moboder {
    border: 1px solid #fff;
    border-radius: 10px;
}
.img-experience{
    width: 672px;
    height: 367px;
}

.img-school,.img-experience {
    margin-bottom:10px;
}



.self-evaluation p {
    line-height: 20px;
}
.self-evaluation ul {
    margin: 0 auto;
    width: 400px;
    height: 140px;
}
.self-evaluation ul li {
    text-align: left;
}